@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{
  font-family: "Arimo", serif;
}
#root{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}